body {
  background-image: url("./Assets/Images/papertexture.jpg");
}

.border {
  padding-bottom: 350px;
}

.paragraph {
  padding-bottom: 250px;
}
.border-bottom {
  padding-bottom: 70px;
  padding-right: -80;
  padding-left: 150px;
  padding-right: 150px;
}

.border-bottom-width {
  padding-bottom: 40px;
  margin-right: 350px;
  margin-left: 350px;
}
.teal_line {
  padding: 5px;
  background-color: #4aaaa5;
}

footer {
  background-color: #3d3c3c;
  color: oldlace;
  text-align: center;
  padding: 30px 0 10px 0;
  height: 60px;
}
