body {
  background-image: url("../Assets/Images/papertexture.jpg");
}

.border {
  padding-bottom: 400px;
}

.paragraph {
  padding-bottom: 250px;
}
.border-bottom {
  padding-bottom: 110px;
  padding-left: 150px;
  padding-right: 150px;
}

.border-bottom-width {
  padding-bottom: 40px;
}

.card-body h3 {
  font-size: 18px;
}
.card-body h4 {
  font-size: 18px;
}

.card-body h5 {
  font-size: 18px;
}
.card-body h6 {
  font-size: 18px;
}
.teal_line {
  padding: 5px;
  background-color: #4aaaa5;
}

footer {
  background-color: #3d3c3c;
  color: oldlace;
  text-align: center;
  padding: 30px 0 10px 0;
  height: 60px;
}
